<section class="">
    <!-- Footer -->
    <footer class="text-white text-center text-md-start">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
            <div>
                <img src="assets/logo/logo.svg" alt="" width="100px">
            </div>
  
            <p>
              {{ "footer.lorem" | translate }}
            </p>
            <div class="icons">
                <span  class="p-2 rounded-circle ">
                    <img src="assets/footer/facebook.svg" alt="" width="20px">
                </span>
                <span  class="p-2 rounded-circle mx-3">
                    <img src="assets/footer/twitter.svg" alt="" width="20px">
                </span>
                <span  class="p-2 rounded-circle">
                    <img src="assets/footer/instagram.svg" alt="" width="20px">
                </span>
            </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">{{ "footer.Our_Company" | translate }}</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!">{{ "footer.home" | translate }}</a>
              </li>
              <li>
                <a href="#!">{{ "footer.Menu" | translate }}</a>
              </li>
              <li>
                <a href="#!">{{ "footer.About_Us" | translate }}</a>
              </li>
              <li>
                <a href="#!">{{ "footer.Subscriptions" | translate }}</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">{{ "footer.Our_Clients" | translate }}</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-white">{{ "footer.Blog" | translate }}</a>
              </li>
              <li>
                <a href="#!" class="text-white">{{ "footer.privacy" | translate }}</a>
              </li>
              <li>
                <a href="#!" class="text-white">{{ "footer.Join_Us" | translate }}</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div> -->
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>
