.header{

    h2{
        font-size: 45px;
        font-weight: 700;
        color:var(--mainColor);
        text-transform: uppercase;
    }
    span{
        color:var(--secondary) !important;
    }
    .text{
        color: var(--mainTextColor)!important;
        font-weight: 500;
    }
    .search{
        background-color: #F9B087 !important;
    }
    .btn-main{
        background-color: var(--mainColor);
        color: white;
    }
    .btn-subscriptions{
        background-color: var(--secondary);
        color: black;
    }
    

}

.contactUS{
    .hero{
        position: relative;
        background-position: center center;
        .textUS{
            color: var(--secondary);
        }
    }
    .hero::after{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background-color: rgba(0,0,0, 1);
    }
    .container-Contact{
        background-color: var(--secondary);
        border-radius: 0px 20px 20px 0px;
    }
}

.carousel{
    ::ng-deep .owl-theme .owl-nav{
        display:flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        left:50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    ::ng-deep .owl-theme .owl-nav [class*=owl-]{
        background : transparent !important;
        font-size: 30px;
        font-weight: 900;
        color: black;
    }
   .bg-main{
       background-color: var(--bg-card);
       .title{
           color: var(--mainColor);
       }
       ul{
           padding-left: 0px !important;
           list-style: none;
           font-weight: 600;
           color: var(--link);
       }
       span{
            color:var(--mainColor);
            margin-bottom: 10px;
        }
    button{
        background-color: var(--mainColor);
        color: var(--link);
    }
    }
    .bg-change{
        color: white!important;
        background-color: var(--mainColor) !important;
        .title{
            color: var(--link) !important;
        }
        ul{
            padding-left: 0px !important;
            list-style: none;
            color: white!important;
        }
        background-color: var(--mainColor);
       
        span{
            color:var(--secondary);
            margin-bottom:25px !important;
        }
        button{
            background-color: var(--secondary)!important;
            color: var(--link)!important;
        } 
    }
}

.proplems{
    background-color:var(--bg-card);
    .subscription{
        font-size: 30px;
        font-weight:600;
        color:var(--mainColor)
    }
    .program{
        color: var(--link);
    }
}

.submit{
    .title{
        color: var(--mainColor);
        font-size: 20px;
        font-weight: 700;
    }
    .info{
        
        color: var(--bg-card) !important;
        .name,.phone{
            font-size:13px;
            color: rgba(0 ,0,0,0.4) !important;
        }
        h6{
            font-size:20px;
            color: rgba(0 ,0,0,0.4) !important;
        }
        button{
            opacity: 1!important;
        }
    }
}